.add-ride {
    display: flex;
    flex-direction: column;

    .form-buttons {
        display: flex;
        justify-content: space-between;
    
        input[type=submit] {
            width: 30%;
            color: midnightblue;
            border: lightskyblue solid 1px;
            border-radius: 5px;
            cursor: pointer;
            
            &:hover {
                background-color: hsl(200, 90%, 96%);
            }
        }

        .delete-ride {
            align-self: flex-start;
            width: 30%;
            color: darkred;
            border: firebrick solid 1px;
            border-radius: 5px;
            cursor: pointer;
            
            &:hover {
                background-color: hsl(0, 90%, 96%);
            }
        }
    }
}

