.arrivals {
    margin-bottom: 4rem;
    margin-left: 2rem;

    caption {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 2rem;
        color: darkgreen;
    }

    table {
        width: 80vw;
        display: block;
        font-size: 1.1rem;
    }
}