.departures {
    margin-bottom: 2.5rem;

    caption {
        margin-bottom: 1rem;
        text-align: left;
        font-size: 2rem;
        color: firebrick;
    }

    table {
        width: 80vw;
        display: block;
        font-size: 1.1rem;
    }
}