tbody {
    cursor: pointer;

    &:hover {
        background-color: hsl(0, 0%, 90%);
    }

    tr {
        border-bottom: 1px solid steelblue;

        td {
            padding: 7px;
            text-align: center;
            display: inline-block;
            width: 5rem;

            img {
                height: 50px;
            }
        }

        .has {
            color: green;
        }

        .needs {
            color: red;
        }
    }
}