@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

header {
  display: flex;
  padding: 2rem;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  
  h1 {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    font-family: Josefin Sans, sans-serif;
  }
}

