.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  z-index: 200;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.85);
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-height: 90%;
    overflow: auto;
    padding: 2rem 2rem;
    background-color: white;
    box-shadow: 0 0 8px blue;

    h2 {
      margin-bottom: 2rem;

      img {
        margin-left: 1rem;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    p {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }

    label {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }

    label[for=flightNumber] {
      margin-top: 0.5rem;
    }

    input[type=datetime-local] {
      padding: 0.5rem 2rem;
      font-size: 2rem;

      // &::-webkit-datetime-edit { padding: 1em; }
      // &::-webkit-datetime-edit-fields-wrapper { background: silver; }
      // &::-webkit-datetime-edit-text { padding: 0 0.5em; }
      // &::-webkit-datetime-edit-month-field { color: blue; }
      // &::-webkit-datetime-edit-day-field { color: green; }
      // &::-webkit-datetime-edit-year-field { color: purple; }
      // &::-webkit-inner-spin-button { display: none; }
      // &::-webkit-calendar-picker-indicator { background: orange; }
    }
  }

  .close-modal {
    position: relative;
    top: 10px;
    right: calc(15px - 100%);
    width: 35px;
    font-weight: 300;
    font-size: 1.2rem;
    opacity: 0.5;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &:focus {
      outline: none;
    }

    &:active {
      border: none;
    }
  }
}