.person {
  flex-basis: 17rem;
  border-bottom: 1px solid firebrick;
  margin: 0 0.5rem;

  div {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    cursor: pointer;
  }

  img {
    height: 110px;
    width: 40%;
    border-radius: 50%;
    margin-right: 0.5rem;
    object-fit: cover;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }
}
